    <div id="modalScreen"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ethers/5.7.2/ethers.umd.min.js"></script>
    <script src="[$root]asset/vendor/uikit/js/uikit.min.js"></script>
    <script src="[$root]asset/vendor/jquery/jquery.min.js"></script>
    <script src="[$root]asset/plugin/plugin.min.js"></script>
    <script src="[$root]asset/script/js/general.min.js"></script>
    <script src="[$root]asset/script/js/general_dashboard.js"></script>
    <script src="[$root]asset/script/js/app.js" defer></script>
</body>
</html>